@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');

:root {

    --pink: #fca6c4;
    --green: #50d496;

    --accent-color: #ffffff;

    --text-color: #ffffffee;

    --global-border: 1px solid #ffffff66;

    --header-height: 300px;
    --topbar-height: 30px;


    --c: #00e5ff;       /* 线条颜色 */
    --w: 2px;           /* 线条粗细 */
    --l: 30px;          /* 线条长度 */
    --g: linear-gradient(var(--c), var(--c));
    --offset: -4px; 
}

.yui-navset .yui-nav li {
    margin: 0;
    padding: 0;
}

.yui-navset .yui-nav .selected {
    margin: 0;
}

.yui-navset .yui-nav a {
    background: transparent;
    color: #ffffff;
    padding: 8px 20px;
    border: none;
    box-shadow: none;
    border: var(--global-border);
    border-radius: 0;
    margin: 0;
    transition: scale .15s ease-in-out, 
    transform .15s ease-in-out, 
    background .15s cubic-bezier(0.02, 0.3, 0.1, 0.58),
    border .15s ease-in-out; 
    /* outline .05s ease-out; */
}

.yui-navset .yui-nav a:focus {
    background: none;
}

.yui-navset .yui-nav a:hover {
    background: #ffffff2f;
    border: 1px solid #ffffff;
}

.yui-navset .yui-nav a:active {
    background: var(--accent-color);
}

.yui-navset .yui-nav .selected a {
    background: var(--accent-color);
    color: #1a3a5c;
    box-shadow: none;
    border: 1px solid #ffffff;
    border-radius: 0;
    scale: 1;
    transform: scale(1.1);
    /* outline: 2px solid var(--accent-color); */
}

.yui-navset .yui-nav .selected a:focus {
    background: var(--accent-color);
    color: #1a3a5c;
    box-shadow: none;
}

.yui-navset .yui-nav .selected a:hover {
    color: #1a3a5c;
    background: var(--accent-color);
}

.yui-navset .yui-nav a em {
    border: none;
    padding: 0;
}

.yui-navset .yui-nav .selected a em {
    padding: 0;
}

/* YUI LAYOUT */
.yui-navset .yui-nav {
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.yui-navset .yui-nav li {
    flex-grow: 1;
    display: grid;
    text-align: center;
}

.yui-navset .yui-content {
    border: none;
    background: none;
    color: var(--text-color);
    border: var(--global-border);
}

/* BASIC LAYOUT */
div#container-wrap {
    /* background: linear-gradient(180deg, #fca6c4, #fca6c44a, #50d495); */
    background: none;
}

body {
    background: transparent;
}

#header {
    background: #1e3a5f;
}

/* SIDE BAR */
#side-bar {
    background: transparent;
}

@media (max-width: 767px) {
    #side-bar {
        background: #1e3a5f;
    }
}

#side-bar .side-block {
    border: none;
    box-shadow: none;
    border: var(--global-border);
    background: transparent !important;
    border-radius: 0;
    color: #fff;
    transition: background .15s cubic-bezier(0.02, 0.3, 0.1, 0.58),
    border .15s ease-in-out;
}

#side-bar .side-block:hover {
    background: #ffffff2f !important;
    border: 1px solid #ffffff;

}

#side-bar .side-block a {
    color: #ffffff;
}

#side-bar .heading {
    border: none;
    background: transparent;
    color: #ff6b35;
    padding: 5px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

#side-bar .heading::before {
    border-radius: 0;
    content: " ";
    height: 1px;
    background-color: #ff6b35;
    flex: 1;
}

#side-bar .heading::after {
    border-radius: 0;
    content: " ";
    height: 1px;
    background-color: #ff6b35;
    flex: 1;
}

#side-bar div.menu-item img {
    display: none;
}

/* COLLAPSIBLE SIDE BAR */
#top-bar .open-menu a {
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        z-index: 5;
        font-family: 'Nanum Gothic', san-serif;
        font-size: 30px;
        font-weight: 700;
        width: 30px;
        height: 30px;
        line-height: 0.9em;
        text-align: center;
        border: 0.2em solid #888;
        background-color: #fff;
        border-radius: 3em;
        color: #888;
        pointer-events: auto;
}
 
@media not all and (max-width: 767px) {
 
    #top-bar .mobile-top-bar {
        display: block;
        pointer-events: none;
    }
 
    #top-bar .mobile-top-bar li {
        display: none;
    }
 
    #main-content {
        max-width: 44.5rem;
        margin: 0 auto;
        padding: 0;
        transition: max-width 0.2s ease-in-out;
    }
 
    #side-bar {
        display: block;
        position: fixed;
        top: 0;
        left: -18rem;
        width: 15.25rem;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 10;
        padding: 1em 1em 0 1em;
        background-color: rgba(0,0,0,0.1);
        transition: left 0.4s ease-in-out;
 
        scrollbar-width: inherit;
    }
 
    #side-bar:target {
        left: 0;
    }
    #side-bar:focus-within {
        left: 0;
    }
 
    #side-bar:target .close-menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin-left: 17rem;
        opacity: 0;
        z-index: -1;
        visibility: visible;
    }
    #side-bar:not(:target) .close-menu { display: none; }
 
    #top-bar .open-menu a:hover {
        text-decoration: none;
    }
}

/* RATING */
#main-content .page-rate-widget-box {
    height: 24px;
    line-height: 24px;
    display: inline-flex;
    border-radius: 0;
    box-shadow: none;
    align-items: center
}

#main-content .page-rate-widget-box .rate-points {
    background: #ff6b351e;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ff6b35a4;
    color: #ff6b35;
    margin-right: 3px;
}

#main-content .page-rate-widget-box .ratedown, 
#main-content .page-rate-widget-box .rateup, 
#main-content .page-rate-widget-box .cancel {
    border: none;
    background: transparent;
}

#main-content .page-rate-widget-box .ratedown a, 
#main-content .page-rate-widget-box .rateup a, 
#main-content .page-rate-widget-box .cancel a {
    color: #ffffffb8;
    background: transparent;
    border: none;
    border: var(--global-border);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
    margin-right: 3px;
    transition: background .15s cubic-bezier(0.02, 0.3, 0.1, 0.58),
    border .15s ease-in-out;
}

#main-content .page-rate-widget-box .ratedown a:hover, 
#main-content .page-rate-widget-box .rateup a:hover, 
#main-content .page-rate-widget-box .cancel a:hover {
    background: #ffffff2f;
    border: 1px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
}

#main-content .page-rate-widget-box .cancel a {
    margin-right: 0;
}

 
#main-content .page-rate-widget-box .rateup a::before {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    font-family: 'FontAwesome';
    content: "\f077";
}
 
#main-content .page-rate-widget-box .ratedown a::before {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    font-family: 'FontAwesome';
    content: "\f078";
}
 
#main-content .page-rate-widget-box .cancel a::before {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    font-family: 'FontAwesome';
    content: "\f00d";
}

#main-content .rate-box-with-credit-button {
    display: flex;
    height: 24px;
    background: transparent;
    border: none;
    box-shadow: none;
    align-items: center;
}

#main-content .rate-box-with-credit-button .creditButton p a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-left: 3px;
    border: none;
    border: var(--global-border);
    color:#ffffffb8;
    transition: background .15s cubic-bezier(0.02, 0.3, 0.1, 0.58),
    border .15s ease-in-out;
}

#main-content .rate-box-with-credit-button .creditButton p a:hover {
    background: #ffffff2f;
    border: 1px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
}

#main-content .creditButtonStandalone p a {
    background: transparent;
    color: #ffffffb8;
    width: 24px;
    height: 24px;
    line-height: 24px;
    box-shadow: none;
    border: var(--global-border);
    border-radius: 0;
    transition: background .15s cubic-bezier(0.02, 0.3, 0.1, 0.58),
    border .15s ease-in-out;
}

#main-content .creditButtonStandalone p a:hover {
    text-decoration: none;
    background: #ffffff2f;
    border: 1px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
}

/* MAIN CONTENT */
#main-content {
    color: var(--text-color);
}

a,
a:hover,
a:visited,
#page-title,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ff6b35;
}

/* HEADER */
#header {
    height: var(--header-height);
    background: linear-gradient(180deg, #fca6c4 , #fca6c44a ,transparent);;
    padding-bottom: 0;
    max-width: 100%;
    width: 100%;
}

#header h1 {
    float: none;
    margin-left: 0;
    width: 100%;
}

#header h1 a {
    width: fit-content;
    margin: auto;
    padding: calc(var(--header-height) / 2) 0 25px;
    transform: translateY(-50px);
    font-size: 3.6rem;
    font-family: 'Noto Serif SC';
    text-shadow: none;
    color: #1c2138;
    text-shadow: -6px 0px 5px #50d494a8, 4px 0px 5px #e9588b;
}

#top-bar {
    top: calc(var(--header-height) - var(--topbar-height));
    height: var(--topbar-height);
    max-width: 100%;
    width: 100%;
}

#top-bar .top-bar {
    background: none;
    display: flex;
    justify-content: center;
}

#top-bar .top-bar ul > li a {
    border: none;
    font-family: 'Noto Serif SC';
    color: #000;
    padding-top: calc(var(--topbar-height) / 2);
    padding-bottom: calc(var(--topbar-height) / 2);
    font-weight: bold;
    line-height: 0;
}
